<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Student Edit</h1>
</div>
<div class="card mb-40">
    <div class="card-header">
        <i class="fa fa-edit"></i> Edit
    </div>
    <div class="card-body">
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="class">Class *</label>
                        <input type="number" class="form-control" id="class" [(ngModel)]="item.class" name="class" #class="ngModel" required>
                        <div class="invalid-feedback">Value is required</div>
                    </div>
                    <div class="form-group">
                        <label for="dob">Dob</label>
                        <input type="date" class="form-control" id="dob" [(ngModel)]="item.dob" name="dob" #dob="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="fathersname">Fathersname</label>
                        <input type="text" class="form-control" id="fathersname" [(ngModel)]="item.fathersname" name="fathersname" #fathersname="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="mothersname">Mothersname</label>
                        <input type="text" class="form-control" id="mothersname" [(ngModel)]="item.mothersname" name="mothersname" #mothersname="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="percentinlastexam">Percentinlastexam</label>
                        <input type="text" class="form-control" id="percentinlastexam" [(ngModel)]="item.percentinlastexam" name="percentinlastexam" #percentinlastexam="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="rollno">Rollno *</label>
                        <input type="text" class="form-control" id="rollno" [(ngModel)]="item.rollno" name="rollno" #rollno="ngModel" required>
                        <div class="invalid-feedback">Value is required</div>
                    </div>
                    <div class="form-group">
                        <label for="studentname">Studentname *</label>
                        <input type="text" class="form-control" id="studentname" [(ngModel)]="item.studentname" name="studentname" #studentname="ngModel" required>
                        <div class="invalid-feedback">Value is required</div>
                    </div>
                    <!-- RELATIONS -->
                    <h2 class="mb-20">Relations</h2>

                    <div class="pb-30">
                        <div class="mb-20">
                            <label>_Class</label>

                            <span class="dropdown ml-20">
                                <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton_Class" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Add
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_Class">
                                    <button class="dropdown-item" *ngFor="let item of list_Class" [class.disabled]="containClass(item._id)" (click)="$event.preventDefault(); containClass(item._id) || addClass(item._id)">{{item._id}}
                                    </button>
                                </div>
                            </span>
                        </div>
                        <div class="mb-40">
                            <ul class="list-group">
                                <li class="list-group-item" *ngIf="!item._class || item._class.length == 0">No item found</li>
                                <li class="list-group-item" *ngFor="let obj of item._class; let i = index">
                                    {{obj}}

                                    <button class="btn btn-danger pull-right" type="button" (click)="removeClass(i)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pb-30">
                        <div class="mb-20">
                            <label>_Exam</label>

                            <span class="dropdown ml-20">
                                <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton_Exam" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Add
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_Exam">
                                    <button class="dropdown-item" *ngFor="let item of list_Exam" [class.disabled]="containExam(item._id)" (click)="$event.preventDefault(); containExam(item._id) || addExam(item._id)">{{item._id}}
                                    </button>
                                </div>
                            </span>
                        </div>
                        <div class="mb-40">
                            <ul class="list-group">
                                <li class="list-group-item" *ngIf="!item._exam || item._exam.length == 0">No item found</li>
                                <li class="list-group-item" *ngFor="let obj of item._exam; let i = index">
                                    {{obj}}

                                    <button class="btn btn-danger pull-right" type="button" (click)="removeExam(i)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    
        

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid, item)">Save</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Back To List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>