<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Class List</h1>
</div>

<!-- SEARCH FORM -->
<div class="card">

    <div class="card-header">
        <i class="fa fa-search"></i> Search
    </div>
    <div class="card-body">
        <form #searchForm="ngForm">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="class">Class</label>
                        <input type="number" class="form-control" id="class" [(ngModel)]="search.class" name="class" #class="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="noofstudents">Noofstudents</label>
                        <input type="number" class="form-control" id="noofstudents" [(ngModel)]="search.noofstudents" name="noofstudents" #noofstudents="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="noofsubjects">Noofsubjects</label>
                        <input type="number" class="form-control" id="noofsubjects" [(ngModel)]="search.noofsubjects" name="noofsubjects" #noofsubjects="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="roomno">Roomno</label>
                        <input type="text" class="form-control" id="roomno" [(ngModel)]="search.roomno" name="roomno" #roomno="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="teachername">Teachername</label>
                        <input type="text" class="form-control" id="teachername" [(ngModel)]="search.teachername" name="teachername" #teachername="ngModel">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- TABLE -->
<table class="table mt-40">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">class</th>
            <th scope="col">noofstudents</th>
            <th scope="col">noofsubjects</th>
            <th scope="col">roomno</th>
            <th scope="col">teachername</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list | search: { 'class': search.class, 'noofstudents': search.noofstudents, 'noofsubjects': search.noofsubjects, 'roomno': search.roomno, 'teachername': search.teachername }">
            <!-- ATTRIBUTES -->
            <td>
                <a [routerLink]="['/classes/', item._id]">{{item._id}}</a>
            </td>
            <td>{{item.class }}</td>
            <td>{{item.noofstudents }}</td>
            <td>{{item.noofsubjects }}</td>
            <td>{{item.roomno }}</td>
            <td>{{item.teachername }}</td>

            <!-- DELETE BUTTON -->
            <td>
                <button class="btn btn-danger text-center" data-toggle="modal" data-target="#deleteModal" (click)="selectId(item._id)">
                    <span>
                        <i class="fa fa-trash"></i>
                    </span>
                </button>
            </td>
        </tr>
    </tbody>
    <div class="no-result" *ngIf="(list | search: {   'class': search.class ,  'noofstudents': search.noofstudents ,  'noofsubjects': search.noofsubjects ,  'roomno': search.roomno ,  'teachername': search.teachername  }).length == 0">
        No items found
    </div>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-times-circle"></i>&nbsp;&nbsp;Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want remove item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteItem()">YES</button>
            </div>
        </div>
    </div>
</div>

<!-- BUTTON -->
<button class="btn btn-primary text-center pull-right mb-20" routerLink="/classes/new">
    <span>
        <i class="fa fa-plus"></i>
    </span>
</button>

<div class="clearfix"></div>