<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/users" routerLinkActive="active">Link to List UserList</a>
    </div>
    <div>
        <a routerLink="/students" routerLinkActive="active">Link to List StudentList</a>
    </div>
    <div>
        <a routerLink="/teachers" routerLinkActive="active">Link to List TeacherList</a>
    </div>
    <div>
        <a routerLink="/classes" routerLinkActive="active">Link to List ClassList</a>
    </div>
    <div>
        <a routerLink="/subjects" routerLinkActive="active">Link to List SubjectList</a>
    </div>
    <div>
        <a routerLink="/lessons" routerLinkActive="active">Link to List LessonList</a>
    </div>
    <div>
        <a routerLink="/exams" routerLinkActive="active">Link to List ExamList</a>
    </div>
    <div>
        <a routerLink="/tests" routerLinkActive="active">Link to List TestList</a>
    </div>
 <!-- END LINKS -->
</div>